/* ============ resets y tipografias ==============   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Chakra Petch", "Oswald", sans-serif;
}

@font-face {
  font-family: Tungsten-Bold;
  src: url("./tipografia/Tungsten-Bold.ttf");
}
/* ==================  MOBILE ==================  */
@mixin texto {
  font-size: 10px;
}
@mixin float {
  display: flex;
  flex-flow: row wrap;
}
@mixin border {
  border: solid grey 1px;
}
/* ======== Estilos Generales ======== */

/* === pagina index === */

.titulo {
  @media (max-width: 479px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    .h1 {
      /*box model*/
      padding: 30px;
      width: 100%;
      margin: 5px;

      /*texto*/
      font-family: "Chackra Petch";
      text-align: center;
      font-size: 25px;
      text-shadow: map-get($map: $colores, $key: gris_oscuro) -1px 2px;
      /*visuales*/
      color: white;
      border: solid map-get($map: $colores, $key: gris_h1) 4px;
      background-color: map-get($map: $colores, $key: celeste_h1);
    }
    #carouselExampleControls {
      width: 95%;
      .carrusel-img {
        width: 98%;
        height: 300px;
      }
    }
  }
}
main {
  @media (max-width: 479px) {
    background-color: map-get($map: $colores, $key: celeste_main);
  }
}

header {
  @media (max-width: 479px) {
    background-color: map-get($map: $colores, $key: celeste_header);
  }
}
.section__imagenes {
  @media (max-width: 479px) {
    height: 200px;
    width: 150px;
    @include border();
  }
}
.imagenes {
  @media (max-width: 479px) {
    /*texto*/
    font-family: "Oswald";

    @include texto();
    text-align: center;
    margin: 5px;
    /*visuales*/
    width: 150px;
  }
}
.texto {
  @media (max-width: 479px) {
    font-family: "Oswald";
    text-align: center;
  }
}
.section-principal {
  @media (max-width: 479px) {
    @include float();
    margin: 10px;
  }
}
.texto-precio {
  @media (max-width: 479px) {
    @include border();
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

/*=== pagina productos ===*/
.descuentos__h2 {
  @media (max-width: 479px) {
    /*box model*/
    height: 60px;
    width: 100%;
    padding: 15px;
    margin: 5px;
    /*texto*/
    font-family: "Open Sans";
    font-size: 16px;
    text-align: center;
    text-shadow: -1px 2px #b6cfb6;
    /*visual*/
    color: white;
    background-color: #ff8c94;
    border: dashed #ef70aa 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}
.div__ropa {
  @media (max-width: 479px) {
    @include float();
    margin: 10px;
    .img {
      width: 150px;
      height: 200px;
    }
  }
}

/*=== pagina calzados ===*/
.vestir {
  @media (max-width: 479px) {
    /*box model*/
    width: 280px;
    padding: 5px;
    /*texto*/
    font-size: 22px;
    text-align: center;
    color: white;
    /*visual*/
    background-color: #cbaacb;
    border: solid #a30f94 2px;
    text-shadow: #78807d -1px 2px;
  }
}
.div__calzados {
  @media (max-width: 479px) {
    @include float();
  }
}
/*====pagina hombre=====*/
.titulo-hombre {
  @media (max-width: 479px) {
    /*box model*/
    height: 60px;
    width: 100%;
    padding: 15px;
    margin: 5px;
    /*texto*/
    font-family: "Open Sans";
    font-size: 16px;
    text-align: center;
    text-shadow: -1px 2px #b6cfb6;
    /*visual*/
    color: white;
    background-color: purple;
    border: dashed #ef70aa 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}
.div-hombre {
  @media (max-width: 479px) {
    @include float();
  }
}

.titulo-mujer {
  @media (max-width: 479px) {
    /*box model*/
    height: 60px;
    width: 100%;
    padding: 15px;
    margin: 5px;
    /*texto*/
    font-family: "Open Sans";
    font-size: 2px;
    text-align: center;
    text-shadow: -1px 2px #b6cfb6;
    /*visual*/
    color: white;
    background-color: purple;
    border: dashed #ef70aa 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}
.div {
  @media (max-width: 479px) {
    @include float();
    border: black 2px;
  }
}
