/* ==================  TABLETS ==================  */
.titulo {
  @media (min-width: 480px) and (max-width: 1023px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    .h1 {
      /*box model*/
      padding: 35px;
      width: 100%;
      margin: 5px;
      /*texto*/
      font-family: "Chackra Petch";
      text-align: center;
      font-size: 40px;
      text-shadow: #78807d -1px 2px;
      /*visuales*/
      color: white;
      background-color: #8fcaca;
      border: solid #b6cfb6 4px;
    }
    #carouselExampleControls {
      width: 97%;
      .carrusel-img {
        width: 99%;
        height: 350px;
      }
    }
  }
}

.section__imagenes {
  @media (min-width: 480px) and (max-width: 1023px) {
    height: 300px;
    width: 220px;
    @include border();
  }
}

header {
  @media (min-width: 480px) and (max-width: 1023px) {
    background-color: map-get($map: $colores, $key: celeste_header);
  }
}

.section-principal {
  @media (min-width: 480px) and (max-width: 1023px) {
    @include float();
    margin: 10px;
  }
}
.texto-precio {
  @media (min-width: 480px) and (max-width: 1023px) {
    @include border();
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

main {
  @media (min-width: 480px) and (max-width: 1023px) {
    background-color: map-get($map: $colores, $key: celeste_main);
  }
}

.imagenes {
  @media (min-width: 480px) and (max-width: 1023px) {
    /*texto*/
    font-family: "Oswald";
    @include texto();
    text-align: center;
    margin: 5px;
    /*visuales*/
    width: 220px;
  }
}

.texto {
  @media (min-width: 480px) and (max-width: 1023px) {
    font-family: "Oswald";
    text-align: center;
  }
}
/*==== pagina productos====*/
.descuentos__h2 {
  @media (min-width: 480px) and (max-width: 1023px) {
    /*box model*/
    height: 60px;
    width: 98%;
    padding: 10px;
    margin: 5px;
    /*texto*/
    font-family: "Open Sans";
    font-size: 24px;
    text-align: center;
    text-shadow: -1px 2px #b6cfb6;
    /*visual*/
    color: white;
    background-color: #ff8c94;
    border: dashed #ef70aa 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}
.div__ropa {
  @media (min-width: 480px) and (max-width: 1023px) {
    @include float();
    justify-content: center;
    margin: 10px;
    .img {
      width: 200px;
      height: 240px;
    }
  }
}
/*====calzados ===*/
.vestir {
  @media (min-width: 480px) and (max-width: 1023px) {
    @include float();
    /*box model*/
    width: 60%;
    height: 80px;
    padding: 10px;
    /*texto*/
    font-size: 30px;
    text-align: center;
    color: white;
    /*visual*/
    background-color: #cbaacb;
    border: solid #a30f94 2px;
    text-shadow: #78807d -1px 2px;
  }
}

.div__calzados {
  @media (min-width: 480px) and (max-width: 1023px) {
    @include float();
    justify-content: center;
  }
}

.titulo-hombre {
  @media (min-width: 480px) and (max-width: 1023px) {
    /*box model*/
    height: 60px;
    width: 98%;
    padding: 10px;
    margin: 5px;
    /*texto*/
    font-family: "Open Sans";
    font-size: 24px;
    text-align: center;
    text-shadow: -1px 2px #b6cfb6;
    /*visual*/
    color: white;
    background-color: purple;
    border: dashed #ef70aa 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}
.div-hombre {
  @media (min-width: 480px) and (max-width: 1023px) {
    @include float();
    margin: 10px;
    justify-content: center;
  }
}
.titulo-mujer {
  @media (min-width: 480px) and (max-width: 1023px) {
    /*box model*/
    height: 60px;
    width: 98%;
    padding: 10px;
    margin: 5px;
    /*texto*/
    font-family: "Open Sans";
    font-size: 24px;
    text-align: center;
    text-shadow: -1px 2px #b6cfb6;
    /*visual*/
    color: white;
    background-color: purple;
    border: dashed #ef70aa 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}
.div {
  @media (min-width: 480px) and (max-width: 1023px) {
    @include float();
    margin: 10px;
    justify-content: center;
  }
}
/* ==================  DESKTOP==================  */
.titulo {
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      /*box model*/
      padding: 40px;
      width: 1250px;
      margin: 5px;
      /*texto*/
      font-family: "Chackra Petch";
      text-align: center;
      font-size: 45px;
      text-shadow: #78807d -1px 2px;
      /*visuales*/
      color: white;
      background-color: #8fcaca;
      border: solid #b6cfb6 4px;
    }
    #carouselExampleControls {
      width: 1000px;
      height: auto;
    }
  }
}

.section__imagenes {
  @media (min-width: 1024px) {
    height: 400px;
    width: 275px;
    @include border();
  }
}

header {
  @media (min-width: 1024px) {
    background-color: map-get($map: $colores, $key: celeste_header);
  }
}

.section-principal {
  @media (min-width: 1024px) {
    @include float();
    margin: 10px;
    justify-content: center;
  }
}
.texto-precio {
  @media (min-width: 1024px) {
    @include border();
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

main {
  @media (min-width: 1024px) {
    background-color: map-get($map: $colores, $key: celeste_main);
  }
}

.imagenes {
  @media (min-width: 1024px) {
    /*texto*/
    font-family: "Oswald";
    font-size: 15px;
    text-align: center;
    margin: 5px;
    /*visuales*/
    width: 275px;
  }
}

.texto {
  @media (min-width: 1024px) {
    font-family: "Oswald";
    text-align: center;
  }
}

/*==== pagina productos====*/
@media (min-width: 1024px) {
  .div__descuentos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .descuentos__h2 {
      /*box model*/
      height: 75px;
      width: 70%;
      padding: 10px;
      margin: 5px;
      /*texto*/
      font-family: "Open Sans";
      text-align: center;
      text-shadow: -1px 2px #b6cfb6;
      /*visual*/
      color: white;
      background-color: #ff8c94;
      border: dashed #ef70aa 3px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
  }
}
.div__ropa {
  @media (min-width: 1024px) {
    @include float();
    justify-content: center;
    margin: 10px;
    .img {
      width: 275px;
      height: 400px;
    }
  }
}

/*==== pagina calzados====*/
.div__calzados {
  @media (min-width: 1024px) {
    @include float;
    justify-content: center;
  }
}

.vestir {
  @media (min-width: 1024px) {
    @include float();
    /*box model*/
    width: 40%;
    height: 80px;
    padding: 10px;
    /*texto*/
    font-size: 30px;
    text-align: center;
    color: white;
    /*visual*/
    background-color: #cbaacb;
    border: solid #a30f94 2px;
    text-shadow: #78807d -1px 2px;
  }
}

/*=====pagina hombre=====*/
.section__hombre {
  @media (min-width: 1024px) {
    @include float();
    justify-content: center;
  }
}
.titulo-hombre {
  @media (min-width: 1024px) {
    /*box model*/
    height: 75px;
    width: 70%;
    padding: 10px;
    margin: 5px;
    /*texto*/
    font-family: "Open Sans";
    text-align: center;
    text-shadow: -1px 2px #b6cfb6;
    /*visual*/
    color: white;
    background-color: purple;
    border: dashed #ef70aa 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}

.div-hombre {
  @media (min-width: 1024px) {
    @include float();
    margin: 10px;
    justify-content: center;
  }
}

.section__mujer {
  @media (min-width: 1024px) {
    @include float();
    justify-content: center;
  }
}
.titulo-mujer {
  @media (min-width: 1024px) {
    /*box model*/
    height: 75px;
    width: 70%;
    padding: 10px;
    margin: 5px;
    /*texto*/
    font-family: "Open Sans";
    text-align: center;
    text-shadow: -1px 2px #b6cfb6;
    /*visual*/
    color: white;
    background-color: purple;
    border: dashed #ef70aa 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}

.div {
  @media (min-width: 1024px) {
    @include float();
    margin: 10px;
    justify-content: center;
  }
}
